<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>

    <!-- Insert iocn in title -->
  <link rel="icon" href="img/icon.jpg" type="image/x-icon">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/info.css">
</head>
<body>
    <div class="registration-form">
        <form method="GET" action="/greetin/<%=rdm%>" onsubmit="validate()">
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item user" id="username" name="username" placeholder="Name" onkeyup="validate()">
                <span class="mt-3 input-group-text"><i class="fas fa-user"></i><a class="px-2 username"></a></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item emailid" id="email" name="email" placeholder="Email" onkeyup="validate()">
                <span class="mt-3 input-group-text"><i class="fas fa-envelope"></i><a class="px-2 emailtext"></a></span>
            </div>
            <div class="form-group">
                <button  class="btn btn-block create-account login">Generate URL</button>
        </form>
    </div>
    <div class="container" style="max-width: 39%;">
      <button type="button" class="btn btn-block create-account sendmail" onclick="sendMail()">Send Email</button>
    </div>

    </div>
    <!-- Place jquery before our js script -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="/js/mail.js"></script>
    <!-- <script src="/js/script.js"></script> -->
</body>
</html>
